@use 'variables';

@media (max-width: variables.$breakpoint-xl) {
  .major h1 {
    font-size: 48px;
  }

  .gallery-item {
    padding-left: 30px;
    padding-top: 100px;
    height: 350px;
  }

  .gallery-item p,
  .gallery-item h2 {
    font-size: 22px;
  }
}

@media (max-width: variables.$breakpoint-lg) {
  #header {
    height: 3.5em;
    padding: 0 1em;

    a {
      font-size: 18px;
    }

    .logo strong {
      font-size: 22px;
    }
  }

  .major h1 {
    font-size: 36px;
  }

}

@media (max-width: variables.$breakpoint-sm) {
  .major h1 {
    font-size: 28px;
  }

  .btn {
    padding: 0.6rem 1.8rem;
    font-size: 16px;
  }

}