$primary-color: #242943 !important;
$secondary-color: #6fc3df;
$white: #fff;
$text-color: rgba(255, 255, 255, 0.9);
$border-color: rgba(255, 255, 255, 0.2);
$hover-color: rgba(111, 195, 223, 0.1);

$breakpoint-xl: 1024px;
$breakpoint-lg: 768px;
$breakpoint-sm: 480px;

$breakpoint-md: 768px;